[submodule "CMSJHU_AnalysisMacros"]
	path = CMSJHU_AnalysisMacros
	url = git@github.com:usarica/CMSJHU_AnalysisMacros
[submodule "CMSSW_7_6_3/src/ZZMatrixElement"]
	path = CMSSW_7_6_3/src/ZZMatrixElement
	url = git@github.com:cms-analysis/HiggsAnalysis-ZZMatrixElement
